{% extends 'main/base.html' %}
{% load static %}
{% block title %}Изменить пароль{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        {% comment %}Блог - "Шапка"{% endcomment %}
        <div class="hero-area height-100 bg-img background-overlay" style="background-image: url({% static 'main/img/bg2.jpg' %});">
        </div>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Изменить пароль</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="wrap p-5">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <p>
                                <label class="old_password">Текущий пароль:</label>
                                {{ form.old_password }}
                            </p>
                            <p>
                                <label class="new_password1">Новый пароль:</label>
                                {{ form.new_password1 }}
                            </p>
                            <p>
                                <label class="new_password2">Подтверждение нового пароля:</label>
                                {{ form.new_password2 }}
                            </p>
                            <ul><li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Такой пароль часто используется.</li><li>Пароль не может состоять только из цифр.</li></ul>
                        </div>
                        <br/>
                        <div class="col text-center">
                            <button class="btn world-btn" type="submit" style="color: #ffffff; border-color: #0000ff; background-color: #0000ff;">Изменить</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}